@{
    ViewBag.Title = "Home Page";
}
<head>
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div id="SearchArea" class="col-md-4">
            <h2>Search for a song</h2>
            <input id="searchBox" type="text" name="searchBox"><br>
            <input id="Submit" type="submit" value="Submit">
            
            <table id="SearchResultsGrid" style="width:100%;"></table>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#Submit').click(function () {
                var query = document.getElementById('searchBox').value;
                var data = Search(query);
                document.getElementById('SearchResultsGrid').dataset = data;
            });

        });

        function Search(query) {
            $.ajax({
                beforeSend: function () {
                    // a 'Loading'
                },
                type: 'GET',
                url: 'http://localhost:61350/api/Track/Search',
                contentType: 'application/json; charset=utf-8',
                data: { queryString: query },
                dataType: 'json',

                success: function (json) {
                    try {
                        if(json)
                        {
                            for (var i = 0, len = json.length; i < len; ++i) {
                                var results = json[i];
                                var newDiv = $("<div id=\"ResultGrid\">" + results['Title'] + "\t" + results['StreamUrl'] + "</div>");
                                $('#SearchResultsGrid').append(newDiv);
                            }
                        }
                    } catch (ex) {
                        alert(ex);//show the error parsing json
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {

                    var r = jQuery.parseJSON(xhr.responseText);
                    alert(r); // show the error of callback
                },
                complete: function (json) {
                    return json;
                }
            });
        }
    </script>
</head>